$header-height: 40px;
$header-height-tablet: 70px;
$header-height-desktop: 95px;

$form-height: 140px;
$form-height-tablet: 150px;
$form-height-desktop: 175px;

body {
  background: #efefef;
}

.container {
  padding: 1rem;
  text-align: center;
  background: white;
  min-height: calc(100vh - 2rem);
  font-size: 16px;
  & .title {
    font-size: 30px;
  }
  & .list {
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    max-width: 500px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    list-style-type: number;
    max-height: calc(100vh - $header-height - $form-height - 10rem);
    overflow: auto;
    & .item {
      padding: 0.5rem;
      & span {
        cursor: pointer;
        &.delete {
          color: red;
          margin-left: 1rem;
        }
      }
      &.completed {
        text-decoration: line-through;
      }
    }
  }

  & form {
    width: min( 100%, 500px );
    margin: 1rem auto;
    & input {
      margin-top: 1rem;
      padding: 0.5rem;
      width: min( calc(100% - 1rem), 250px );
    }
    & input[type="submit"] {
      cursor: pointer;
    }
    & .error_message { 
      color: red;
      font-weight: bold;
    }
  }
}

@media only screen and (min-width: 768px) {
  .container {
    font-size: 20px;
    & .title {
      font-size: 50px;
    }
    & .list {
      padding-left: 4rem;
      max-height: calc(100vh - $header-height-tablet - $form-height-tablet - 10rem);
    }
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    font-size: 30px;
    & .title {
      font-size: 70px;
    }
    & .list {
      max-height: calc(100vh - $header-height-desktop - $form-height-desktop - 14rem);
    }
  }
}